/* Login */

.login-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-button {
  background-color: var(--color-primary);
  color: var(--color-text-secondary);
}

/* App container */
.wrapper {
  background-color: var(--color-bg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* WorldMap */

.map-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 2rem;
}

/* Tooltip */
.tooltip {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: center;
}

.tooltip-text {
  visibility: visible;
  color: var(--color-text);
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}

/* Dialog */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.dialog {
  background-color: var(--color-bg);
  border-radius: var(--radius);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  width: 90%;
  max-width: 500px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1001;
  position: relative;
}

.header {
  padding: 24px;
  padding-right: 56px;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
  margin: 0;
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: var(--color-text-secondary);

  &:hover {
    background-color: var(--color-gray-200);
    border-radius: var(--radius);
  }
}

.content {
  padding: 24px;
}

.actions {
  padding: 16px 24px;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

/* TextInput */
.input {
  padding: 10px 12px;
  border: 1px solid var(--color-secondary);
  border-radius: 10px;
  font-size: 14px;
  font-family: inherit;
  line-height: 1;

  &:focus {
    outline: none;
    border-color: var(--color-primary);
    border-width: 2px;
  }
}

.label {
  color: var(--color-text-secondary);
  margin-top: 0.75rem;
}

.error {
  color: var(--color-error);
  font-size: 12px;
}

/* Button */

.button {
  outline: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.button:hover {
  background: color-mix(in oklab, var(--color-primary) 100%, #011a1a 19.1%);
}

.submit {
  background-color: var(--color-primary);
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.actions {
  display: flex;
  align-items: end;
  padding: 1rem 0;
}

/* Progress Bar */

.primary {
  color: var(--color-primary);
}

.emphasized {
  font-size: 18px;
  font-weight: 600;
}

.secondary {
  color: var(--color-text-secondary);
  font-size: 14px;
}

.progress-bar-wrapper {
  flex: 1;
  min-width: 0;
}

.progress-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6px;
}

.progress {
  height: 100%;
  background-color: var(--color-primary);
}

.progress-bar {
  height: 10px;
  background-color: var(--color-text-secondary);
  border-radius: 9999px;
  overflow: hidden;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
  padding-right: 0;
  padding-left:0;
}

.right-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.title {
  color: var(--color-text);
  font-size: 20px;
}

/* ReadBooksSection */
.read-books-wrapper {
  color: var(--color-text);
  border-top: 1px solid var(--color-border);
  padding: 1rem 1rem;
}

.section-title {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-primary);
}
